header {
    background-color: lightgrey;
    padding-left: 20px;
}
body {
    background-color: gray;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}